// Colors
$light: #EDF5E1;
$light-green: #8EE4AF;
$green: #5CDB95;
$dark-green: #379683;
$dark: #05386B;

// Spacing
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size:4.8rem;
$desktop-breakpoint: 45rem;